@font-face {
    font-family: 'BebasRegular';
    src: url('fonts/BebasRegular.eot');
    src: url('fonts/BebasRegular.eot') format('embedded-opentype'),
         url('fonts/BebasRegular.woff2') format('woff2'),
         url('fonts/BebasRegular.woff') format('woff'),
         url('fonts/BebasRegular.ttf') format('truetype'),
         url('fonts/BebasRegular.svg#BebasRegular') format('svg');
}
